body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}

// circle with multiple round circle
.parent{
    width: 50px;
    aspect-ratio: 1;
    background-color: lightblue;
    border-radius: 50%;


    position: relative;
}
.circle{
    --size: 25px;
    --offset: 100px;

    position: absolute;
    top: calc(var(--size)/2);
    left: calc(var(--size)/2);
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: orangered;
    transform: 
    translate(
        calc(cos(var(--degrees)) * var(--offset)), 
        calc(sin(var(--degrees)) * var(--offset))
    );
    animation: move 5s ease-in-out alternate infinite;
}
@keyframes move{
    to{
        transform: translateY(40%);
        transform: translateX(15%);
    }
}



$total: 12;
@for $i from 0 through ($total - 1){
    .circle:nth-child(#{$i + 1}){
     --degrees : #{$i} * 360deg / #{$total};
    }
}




// circle with snack pattern 

.parent2{
    display: flex;
    gap: 1rem;
    border-radius: 50%;

    position: relative;
}

.circle2{
    --size: 25px;
    --offset: 100px;


    top: calc(var(--size)/2);
    left: calc(var(--size)/2);
    width: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: orangered;

    animation: rise 5s ease-in-out alternate infinite;

}

@keyframes rise{
    to{
        transform: translateY(-500%);
    }
}

@for $i from 1 through 12{
    .circle2:nth-of-type(#{$i}){
        animation-delay: calc(sin(50deg) * #{$i}s);
    }
}
// THIS IS USING NORMAL CSS

// .circle:nth-of-type(1){
//     --degrees : 0;

// }
// .circle:nth-of-type(2){
//     --degrees:45deg;
// }
// .circle:nth-of-type(3){
//     --degrees:90deg;
// }
// .circle:nth-of-type(4){
//     --degrees:135deg;
// }
// .circle:nth-of-type(5){
//     --degrees:180deg;
// }
// .circle:nth-of-type(6){
//     --degrees:225deg;
// }
// .circle:nth-of-type(7){
//     --degrees:270deg;
// }
// .circle:nth-of-type(8){
//     --degrees:315deg;
// }

